<span class="page-title">Transfer from</span>
<br>
<br>
<form (ngSubmit)="transferFrom()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="from">From address</label>
            <input type="text" class="form-control" id="from" formControlName="from"
                [ngClass]="{ 'is-invalid': form.controls.from.invalid && form.controls.from.dirty, 'is-valid': form.controls.from.valid }">
            <span class="text-danger" *ngIf="form.controls.from.invalid && form.controls.from.dirty">
                <p *ngIf="form.controls.from.errors.required">From Address is required!</p>
                <p *ngIf="form.controls.from.errors.rangeLength">From Address must be exactle 42 characters!</p>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="to">To address</label>
            <input type="text" class="form-control" id="to" formControlName="to"
                [ngClass]="{ 'is-invalid': form.controls.to.invalid && form.controls.to.dirty, 'is-valid': form.controls.to.valid }">
            <span class="text-danger" *ngIf="form.controls.to.invalid && form.controls.to.dirty">
                <p *ngIf="form.controls.to.errors.required">To Address is required!</p>
                <p *ngIf="form.controls.to.errors.rangeLength">To Address must be exactle 42 characters!</p>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="value">Value</label>
            <input type="text" class="form-control" id="value" formControlName="value"
                [ngClass]="{ 'is-invalid': form.controls.value.invalid && form.controls.value.dirty, 'is-valid': form.controls.value.valid }">
            <span class="text-danger" *ngIf="form.controls.value.invalid && form.controls.value.dirty">
                <p *ngIf="form.controls.value.errors.required">Value is required!</p>
                <p *ngIf="form.controls.value.errors.number">Invalid format!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 com-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Transfer</button>
        </div>
        <div class="col-2 com-sm-2 col-md-2" *ngIf="transferResult">
            <h5><strong>Transaction hash</strong> is {{transferResult}}</h5>
        </div>
    </div>
</form>