<span class="page-title">Balance of</span>
<br>
<br>
<form (ngSubmit)="balanceOf()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" formControlName="address"
                [ngClass]="{ 'is-invalid': form.controls.address.invalid && form.controls.address.dirty, 'is-valid': form.controls.address.valid }">
            <span class="text-danger" *ngIf="form.controls.address.invalid && form.controls.address.dirty">
                <p *ngIf="form.controls.address.errors.required">To address is required!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 com-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Balance of</button>
        </div>
        <div class="col-2 com-sm-2 col-md-2" *ngIf="balanceResult && formSubmitted">
            <h5><strong>Balance</strong> is {{balanceResult}}</h5>
        </div>
    </div>
   
</form>