<span class="page-title">Burn from</span>
<br>
<br>
<form (ngSubmit)="burnFrom()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="from">From address</label>
            <input type="text" class="form-control" id="from" formControlName="from"
                [ngClass]="{ 'is-invalid': form.controls.from.invalid && form.controls.from.dirty, 'is-valid': form.controls.from.valid }">
            <span class="text-danger" *ngIf="form.controls.from.invalid && form.controls.from.dirty">
                <p *ngIf="form.controls.from.errors.required">From Address is required!</p>
                <p *ngIf="form.controls.from.errors.rangeLength">From Address must be exactle 42 characters!</p>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="amount">Amount</label>
            <input type="text" class="form-control" id="amount" formControlName="amount"
                [ngClass]="{ 'is-invalid': form.controls.amount.invalid && form.controls.amount.dirty, 'is-valid': form.controls.amount.valid }">
            <span class="text-danger" *ngIf="form.controls.amount.invalid && form.controls.amount.dirty">
                <p *ngIf="form.controls.amount.errors.required">Amount is required!</p>
                <p *ngIf="form.controls.amount.errors.number">Invalid format!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 com-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Burn from</button>
        </div>
        <div class="col-2 com-sm-2 col-md-2" *ngIf="result">
            <h5><strong>Transaction hash</strong> is {{result}}</h5>
        </div>
    </div>
</form>