<div class="card img-fluid info">
    <div class="card-img-top">
        <i class="fa fa-vcard"></i>
    </div>
    <div class="card-img-overlay">
        <h4 class="card-title text-right">Wallet</h4>
        <p class="card-text text-right">
            {{address}}
        </p>
        <p class="card-text text-right">
            {{balanceEther}} ETH
        </p>
        <p class="card-text text-right">
            {{balanceErc20}} {{symbol}}
        </p>
        <div class="card-btn text-right">
            <button class="btn btn-lg" (click)="openQrCodeModal(qrcodemodal)"><i class="fa fa-qrcode"></i></button>
            <button class="btn btn-lg" (click)="copyToClipboard()"><i class="fa fa-copy"></i></button>
            <button class="btn btn-lg" (click)="updateBalance()"><i class="fa fa-refresh"></i></button>
        </div>
    </div>
</div>

<ng-template #qrcodemodal let-c="close" let-d="dismiss">
    <div class="modal-header">
        <h4 class="modal-title" id="modal-basic-title">Address</h4>
        <button type="button" class="close" aria-label="Close" (click)="d('')">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
    <div class="modal-body">
        <div class="text-center">
            <qrcode [qrdata]="address" [width]="256" [errorCorrectionLevel]="'M'"></qrcode>
            {{address}}
        </div>
    </div>
</ng-template>