<span class="page-title">Increase approval</span>
<br>
<br>
<form (ngSubmit)="increaseApproval()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="to">Spender</label>
            <input type="text" class="form-control" id="spender" formControlName="spender"
                [ngClass]="{ 'is-invalid': form.controls.spender.invalid && form.controls.spender.dirty, 'is-valid': form.controls.spender.valid }">
            <span class="text-danger" *ngIf="form.controls.spender.invalid && form.controls.spender.dirty">
                <p *ngIf="form.controls.spender.errors.required">Spender is required!</p>
                <p *ngIf="form.controls.spender.errors.rangeLength">Spender must be exactle 42 characters!</p>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="value">Value</label>
            <input type="text" class="form-control" id="value" formControlName="value"
                [ngClass]="{ 'is-invalid': form.controls.value.invalid && form.controls.value.dirty, 'is-valid': form.controls.value.valid }">
            <span class="text-danger" *ngIf="form.controls.value.invalid && form.controls.value.dirty">
                <p *ngIf="form.controls.value.errors.required">Value is required!</p>
                <p *ngIf="form.controls.value.errors.number">Invalid format!</p>
            </span>
        </div>
    </div>
    <div class="row">
        <div class="col-3 com-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Approve</button>
        </div>
        <div class="col-2 com-sm-2 col-md-2" *ngIf="result">
            <h5><strong>Transaction hash</strong> is {{result}}</h5>
        </div>
    </div>
</form>