<nav class="navbar navbar-expand-lg navbar-light bg-light border-bottom">
  <button class="nav-link btn btn-light" (click)="toggleSidebar()">
    <i class="fa fa-lg fa-bars"></i>
  </button>
  <button class="navbar-toggler" type="button" (click)="isCollapsed = !isCollapsed" data-toggle="collapse"
    data-target=".navbar-collapse" aria-controls="navbarSupportedContent" aria-expanded="false"
    aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" [ngbCollapse]="isCollapsed">
    <ul class="navbar-nav ml-auto mt-2 mt-lg-0">
      <app-nav-disconnected *ngIf="!isConnected"></app-nav-disconnected>
      <app-nav-connected *ngIf="isConnected"></app-nav-connected>
    </ul>
  </div>
</nav>