:root {
  --color-first: rgba(19, 38, 68);
  --color-second: rgb(211, 86, 19);
  --color-third: rgb(25, 58, 64);
  --color-bedroom: rgb(0, 156, 222);
  --color-neutral: rgb(255, 255, 255);
  --color-background: rgb(250, 249, 251);
  --linear-gradient: linear-gradient(279.76deg, #132644 -2.61%, #343a40 80.69%);
  --font-text: 1.3rem;
  --text-link: none;
  --link-transition: 0.5s;
  --color-border-light: 6px solid var(--color-second);
}

body {
  background: var(--color-background);
  overflow-x: hidden;
}

#sidebar-wrapper {
  min-height: 100vh;
  margin-left: -15rem;
  -webkit-transition: margin .25s ease-out;
  -moz-transition: margin .25s ease-out;
  -o-transition: margin .25s ease-out;
  transition: margin .25s ease-out;
}

#sidebar-wrapper .sidebar-heading {
  padding: 0.875rem 1.25rem;
  font-size: 1.2rem;
}

#sidebar-wrapper .list-group {
  width: 15rem;
}

#page-content-wrapper {
  min-width: 100vw;
}

#wrapper.toggled #sidebar-wrapper {
  margin-left: 0;
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    margin-left: 0;
  }
  #page-content-wrapper {
    min-width: 0;
    width: 100%;
  }
  #wrapper.toggled #sidebar-wrapper {
    margin-left: -15rem;
  }
}

button:disabled, button[disabled] {
  cursor: not-allowed;
}

.page-title {
  font-size: x-large;
  color: #132644;
  font-weight: bold;
}