<span class="page-title">Add role</span>
<br>
<br>
<form (ngSubmit)="add()" [formGroup]="form">
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="address">Address</label>
            <input type="text" class="form-control" id="address" formControlName="address"
                [ngClass]="{ 'is-invalid': form.controls.address.invalid && form.controls.address.dirty, 'is-valid': form.controls.address.valid }">
            <span class="text-danger" *ngIf="form.controls.address.invalid && form.controls.address.dirty">
                <p *ngIf="form.controls.address.errors.required">Address is required!</p>
                <p *ngIf="form.controls.address.errors.rangeLength">Address must be exactle 42 characters!</p>
            </span>
        </div>
    </div>
    <div class="form-row">
        <div class="form-group col-12 com-sm-12 col-md-4">
            <label for="role">Role</label>
            <select class="form-control" formControlName="role">
                <option value="admin">Admin</option>
                <option value="burner">Burner</option>
                <option value="minter">Minter</option>
            </select>
        </div>
    </div>
    <div class="row">
        <div class="col-3 com-sm-3 col-md-2">
            <button type="submit" class="btn btn-primary" [disabled]="form.invalid">Add</button>
        </div>
        <div class="col-2 com-sm-2 col-md-2" *ngIf="result">
            <h5><strong>Transaction hash</strong> is {{result}}</h5>
        </div>
    </div>
</form>